<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="post">

			<div class="form-group row">
				<label for="habilitar" class="col-form-label col-sm-2">Habilitar</label>
				<div class="row">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-check-input col-sm-1">
				</div>
			</div>

			<div class="form-group row">
				<label class="form-check-label">Género</label>
				<div th:each="gen: ${genero}" class="row">
					<input type="radio" th:field="*{genero}" th:value="${gen}"
						class="form-check-input col-sm-2"> 
						<label	th:for="${#ids.prev('genero')}" th:text="${gen}" class="col-sm-2"></label>
				</div>

				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
			</div>

			<!-- 		con metodo LIST public List<String> paises() del FormController-->

			<!-- 		<div> -->
			<!-- 			<label for="pais">País</label> -->
			<!-- 			<div> -->
			<!-- 				<select id="pais" th:field="*{pais}"> -->
			<!-- 				<option value="">-- seleccionar --</option> -->
			<!-- 				<option th:each="pais: ${paises}" th:text="${pais}" th:value="${pais}"></option> -->
			<!-- 				</select> -->
			<!-- 			</div> -->
			<!-- 			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div> -->
			<!-- 		</div> -->

			<!-- con metodo MAP public Map<String, String> paisesMap() del FormController-->

			<!-- 		<div> -->
			<!-- 			<label for="pais">País</label> -->
			<!-- 			<div> -->
			<!-- 				<select id="pais" th:field="*{pais}"> -->
			<!-- 				<option value="">-- seleccionar --</option> -->
			<!-- 				<option th:each="pais: ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option> -->
			<!-- 				</select> -->
			<!-- 			</div> -->
			<!-- 			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div> -->
			<!-- 		</div> -->
			<!-- 		th:for hace que al hacer click en el label se ponga el cursor en su input -->
			<div class="form-group row">
				<label for="pais.id">País</label>
				<div>
					<select id="pais" th:field="*{pais}" class="form-control">
						<option value="">-- seleccionar --</option>
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
			</div>

			<!-- 		<div> -->
			<!-- 			<label>Roles</label> -->
			<!-- 			<div th:each="role: ${listaRolesString}"> -->
			<!-- 				<input type="checkbox" th:field="*{roles}" th:value="${role}"> -->
			<!-- 				<label th:for="${#ids.prev('roles')}" th:text="${role}"></label> -->
			<!-- 			</div> -->
			<!-- 			<div th:if="${#fields.hasErrors('roles')}" -->
			<!-- 				th:errors="*{roles}"></div> -->
			<!-- 		</div> -->

			<!-- 		<div> -->
			<!-- 			<label>Roles</label> -->
			<!-- 			<div th:each="role: ${listaRolesMap.entrySet()}"> -->
			<!-- 				<input type="checkbox" th:field="*{roles}" th:value="${role.key}"> -->
			<!-- 				<label th:for="${#ids.prev('roles')}" th:text="${role.value}"></label> -->
			<!-- 			</div> -->
			<!-- 			<div th:if="${#fields.hasErrors('roles')}" -->
			<!-- 				th:errors="*{roles}"></div> -->
			<!-- 		</div> -->

			<div class="form-group row">
				<label>Roles</label>
				<div th:each="role: ${listaRoles}" >
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles, role)}"
						class="form-check-input"> <label
						th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>

				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
			</div>



			<div class="form-group row">
				<label for="identificador">Identificador</label>
				<div>
					<input type="text" id="identificador" th:field="*{identificador}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="nombre">Nombre</label>
				<div>
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="apellido">Apellido</label>
				<div>
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="username">Username</label>
				<!--en el for de label va el id del input para que al ser un click se posicione en el campo, en el input-->
				<div>
					<input type="text" id="username" th:field="*{username}">
				</div>
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="password">Password</label>
				<div>
					<input type="password" th:field="*{password}" id="password"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="email">Email</label>
				<div>
					<input type="email" id="email" th:field="*{email}"
						class="form-control">
					<!--el type email valida que tenga formato de email-->
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="cuenta">Cuenta</label>
				<div>
					<input type="number" id="cuenta" th:field="*{cuenta}"
						class="form-control">
					<!--el type email valida que tenga formato de email-->
				</div>
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>

			<div class="form-group row">
				<label for="fechaNacimiento">Fecha</label>
				<div>
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd"
						class="form-control">
					<!--el type email valida que tenga formato de email-->
				</div>
				<div th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<div>
					<input type="submit" value="Enviar" class="btn btn-primary">
					<!--el type submit es para enviar los datos-->
				</div>
			</div>
			<input type="hidden" th:field=*{valorSecreto}>
		</form>
	</div>
</body>
</html>